body{
    margin: 0px;
    background-color: rgb(128, 128, 128);
}

header{
    text-align: center;
    background-color: rgb(231, 231, 231);
    padding: 15px;
    font-family: arial;
}

nav{
    text-align: center;
    background-color: rgb(55, 55, 55);
    padding: 15px;

}

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: arial;
    padding: 15px;
}

nav a:hover{
    background-color: rgb(90, 90, 90);
}

h2{
    text-align: center;
}

h3{
    display: flex;
    justify-content: center;
    position: relative;
    color: white;
    font-family: arial;
}

.DropDownMenu{
    position: absolute;
    max-width: 100px;
    background-color: rgb(47, 46, 46);
    padding: 10px 10px;
}

.DropDownMenu .DropDownItems{
    display: none;
}

.DropDownMenu:hover .DropDownItems{
    display: block;
}

.DropDownMenu:hover{
    background-color: rgb(15, 15, 15);
}